{# @var plugin \quatrecentquatre\dummydata\DummyData #}
{# @var settings \quatrecentquatre\dummydata\models\Settings #}
{% do view.registerAssetBundle("quatrecentquatre\\dummydata\\assets\\AssetsBundle") %}

<div id="tab-users">
    {% include 'dummy-data/_partials/users.twig' %}
</div>

<div id="tab-custom-fields" class="hidden">
    {% include 'dummy-data/_partials/custom-fields.twig' %}
</div>


